.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.appliedTagBox {
  width: 354px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 17px;
}

.boxTitle {
  font-weight: 500;
  font-size: 12px;
  color: #420707;
}

.chip {
  border-radius: 20px;
  padding: 5px 12px;
  background-color: #f3f3f3;
  border: 0.4px solid #7d5440;
  color: #572c19;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
}

.chipContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 11px;
}

.listContainer {
  width: 354px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.listCardsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}

.listCardContainer {
  width: 354px;
  border-radius: 11px;
  border: 0.4px solid #00000033;
  box-shadow: 3px 3px 4px 0px #00000040;
  padding: 13px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.imgWrapper {
  width: 40px;
  height: 40px;
  background-color: #f2ede6;
  border-radius: 15px;
  overflow: hidden;
}

.furnitureImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subBox {
  width: 354px;
  padding: 16px;
  border-radius: 15px;
  border: 0.4px solid #7d5440;
  background-color: #f3f3f3;
  margin-bottom: 17px;

  display: flex;
  flex-direction: column;
  gap: 7px;
}

.text {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 8%;
  color: #572c19;
}

.text_2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2%;
  color: #572c19;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mainTextContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.leftContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.locationContainer {
  display: flex;
  gap: 3px;
}

.upContainer {
  display: flex;
  justify-content: space-between;
}

.tempContainer {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: #000;
}

.price {
  font-weight: 900;
  font-size: 15px;
  color: #000;
}

.locationContainer img {
  width: 12px;
  height: 14px;
}

.locationContainer span {
  font-weight: 500;
  font-size: 11px;
  color: #492f1c;
}

.desText {
  font-weight: 500;
  font-size: 13px;
  color: #7c5e43;
}

.tempContainer span {
  font-weight: 500;
  font-size: 12px;
  color: #81bfbf;
}
