.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.mainBox {
  width: 360px;
  padding: 20px 17px;
  background-color: #f3eee8;
  border-radius: 12px;
  border: 0.4px solid #7c5a50;
  box-shadow: 2px 2px 4px 0px #7c5a5033;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 35px;
}

.mainBox_2 {
  width: 360px;
  background-color: #f3eee8;
  border-radius: 12px;
  border: 0.4px solid #7c5a50;
  box-shadow: 2px 2px 4px 0px #7c5a5033;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 35px;
}

.mainBox span {
  font-weight: 700;
  font-size: 16px;
  color: #7c5a50;
}

.line {
  border: 1px solid #a98a81;
}

.chip {
  border-radius: 28px;
  padding: 5px 12px;
  background-color: #7c5a50;
  color: #fff;

  font-weight: 600;
  font-size: 12px;
  display: inline-block;
}

.chipContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 12px;
  margin-top: 6px;
}

.miniHeader {
  display: flex;
  align-items: center;
  height: 39px;
  background: linear-gradient(91.13deg, #7c5a50 15.05%, #c18362 80.82%);
  padding-left: 17px;
}

.miniHeader span {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
}

.subBox {
  width: 360px;
  padding: 20px 16px;
  background-color: #c2d4da;
  border-radius: 12px;
  border: 0.4px solid #a4c4cf;
  box-shadow: 2px 2px 4px 0px #00000040;
  margin-bottom: 35px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text {
  font-weight: 900;
  font-size: 13px;
  color: #7c5a50;
}

.text_2 {
  font-weight: 400;
  font-size: 12px;
  color: #7c5a50;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.row img {
  width: 12px;
  height: 16px;
}

.line_2 {
  border: 1px solid #a4c4cf;
}

.imgCard {
  position: relative;
  flex: 0 0 82px;
  border-radius: 10px;
  border: 0.4px solid #a4c3cf;
  overflow: hidden;
}

.imgCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tagChip {
  position: absolute;
  top: 6px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #ffffff1a;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.tagChip span {
  font-weight: 500;
  font-size: 8px;
  color: #fff;
  text-align: center;
}

.imgContainer {
  width: 100%;
  padding: 11px 19px 19px;

  display: flex;
  gap: 24px;
  overflow-x: auto;
}
